body{
    background-color: #6499E9;
    
}
#Header{
    color: #BEFFF7;
}

.header{
    font-size: 50%;
}
p.Teks{
    color: black;
    font-size: 20px;
}

p strong{
    color: #9EDDFF;
}

p.pg2{
    color: #A6F6FF;
}

p.upper{
    /*text-transform: uppercase;*/
    text-transform: capitalize;
    text-shadow: 1pt 1px 1px #086771;
    color: #ffffff;
}

ul li{
    color: aliceblue;
    font-size: 15px;
}
